@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --very-dark: #2C2C2C;
  --dark: #3F3F3F;
  --black: #000000;
  --white: #FFFFFF;
}

::placeholder {
  color: blue;
  font-size: 1.12rem;
  color: #EDEDED;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--very-dark);
  font-style: normal;
  margin: 0;
  display: flex;
  min-width: 375px;
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 0.93;
  letter-spacing: .29px;
  color: var(--white);
}
